<h1><%= @user.full_name %></h1>

<h3>
<% if @user.team_id %>
    Team:
    <%= @user.team.affiliation %><br>
<% end %>
    Weight Class: 
    <%= @user.weight_class %><br>
    Gi Level: 
    <%= @user.gi_skill %><br>
    No Gi Level: 
    <%= @user.nogi_skill %><br>

</h2>

<h2><%= link_to "Bookmarked", bookmarks_path(@user) %></h2>

<h2>Tournaments</h2>

<ul>
<% @events.each do |event| %>
    <li>
    <!-- Another use for tournament partial -->
        <%= render 'tournaments/tournament', {tournament: event.tournament} %>
    </li>
<% end %>
</ul>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<%= button_to "Delete #{@user.full_name}", @user, method: :delete %>