<h1>Tournaments</h1>

<ul>
<% @tournaments.each do |tournament| %>
    <li>
        Organization: <%= link_to tournament.organization, tournament_path(tournament.id) %><br>
        Date: <%= tournament.output_date %><br>
        Registration Open: <%= tournament.registration_open %><br>
        Registration Close: <%= tournament.registration_close %><br><br>
        <%= button_to "Bookmark", tournament_events_path(tournament_id: tournament.id), method: :create, params:
            {
                'event[tournament_id]' => tournament.id
            }
        %>
        <!-- Admin only -->
        <!-- <%= link_to "Edit", edit_tournament_path(tournament) %> -->
        <!-- <%= button_to "Delete", tournament, method: :delete %><br><br> -->
    </li>
<% end %>
</ul>
<% if logged_in? %>
    <% current_user.registered_events.each do |event| %>
        <p><%= event.tournament_id %></p>
    <% end %>
<% end %>


<!-- Admin only -->
<!-- <%= link_to "Add Tournament", new_tournament_path %> -->