<h1><%= @tournament.organization %></h1>

<% if logged_in? %>
    <%= link_to "Register", new_tournament_event_path(@tournament) %>
<% end %>

<h2>
    Date: <%= @tournament.date %><br>
    Registration Open: <%= @tournament.registration_open %><br>
    Registration Close: <%= @tournament.registration_close %><br>
</h2>
