<h1><%= @tournament.organization %> Registration</h1>

<%= form_with model: [@tournament, @event] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.fields_for :divisions, @event.divisions.build do |division_field| %>
        <%= division_field.label "Divisions" %>
        <%= division_field.select :gi, division_select %><br>
        <%= division_field.hidden_field :user_gi, value: current_user.gi_skill %>
        <%= division_field.hidden_field :user_nogi, value: current_user.nogi_skill %>
        <%= division_field.label :weight_class %>
        <%= division_field.select :weight_class, Division.weight_classes %>
        Recommendation: <%= current_user.weight_class %><br>
    <% end %>
    <br>
    <%= f.submit "Register" %>
<% end %>