<h1>Tournament Registration</h1>

<%= render 'errors', { model: @event } %>

<%= form_with model: [@event.tournament, @event], local: true do |f| %>
    <%= f.label :pay_now? %>
    <%= f.hidden_field :tournament_id %>
    <%= f.check_box :registration_status %>
    <%= f.submit "Oss" %>
<% end %>